body {
       font-family: "ËÎÌå","ºÚÌå"£¬Tahoma,Velvetica,sans-serif;
       font-size: small;
       margin: 0px;
      }

#allContent {
              width: 800px;
              background: url(../images/background.jpg);
              background-repeat: no-repeat;
              margin-left: auto;
              margin-right: auto;
              margin-top: 20px;
              padding: 15px 20px;   
             }          

#top {
        background-color: #C5C5C5;
        height: 40px;
      }

#top a {
          display: block;
          box-sizing: border-box;
          -moz-box-sizing: border-box; /* Firefox */
          -webkit-box-sizing: border-box; /* Safari */
          width: 6%;
          float:right;
          padding: 2.5px 6px;         
       }

#header  {
           background-color: #5CA5DB;
           height: 150px;
           padding: 5px;
         }

img#portrait  {
                display: block;
                float:left;
                margin: 5px 20px 5px 40px;
              }
div#name       {
                float: left;
                margin-top: 30px;
               }

div#contact  {
               position: relative;
               left: 350px;
               top: 35px;
                    
             }

div#intro    {
               background-color: #FFFFFF;
               padding: 20px 40px 5px 40px;
             }

div#intro p   {
               font-size: 104%;
               color: #7D7D7D;
               line-height:1.5em;
               }

div#table    {
               background-color: #FFFFFF;
               display: table;
               padding: 20px 40px;
               width: 720px;
             }

#table .tableRow {
               display: table-row;
              
            }

.tableRow h2,.tableRow p,.tableRow ul {
                           display: table-cell;
                           vertical-align: top; 
                           padding: 3px;
                           color: #7D7D7D;
                           font-size: 104%;
                           line-height: 1.5em;
                                      }
h2,.tableRow h2 {
     color: #5CA5DB;
     font-style: italic;
     font-size: 150%;
     text-decoration: underline;
     width: 30%
    }

.tableRow .heading  {
            width: 150px;
            font-weight: bold;
            color: #7D7D7D;
            font-size: 104%;
            line-height: 1.5em;
          }

div.tableRow p:first-child {
               text-align: right;
               }

ul.none li {
          font-weight: bold;
          list-style-type: none;
          list-style-postion: inside;
        }

ul.square li {
          list-style-type: square;
          list-style-position: inside;
        }

ul.disc li {
          list-style-type: disc;
          list-style-position: inside;
        }

ul.circle li {
          list-style-type: circle;
          list-style-position: inside;
        }

h1 {
    font-size: 230%;
    color: #FFFFFF;
   }

#name p,#contact p {
         color: #E8E9F2;
        } 
#contact a {
             text-decoration: none;
             color: #E8E9F2;
             border-bottom: 1px dotted #E8E9F2;
           }

#footer  {
           height:20px;
           background-color:#C5C5C5;
         }

