body
{
font-family:Sans-serif;
}

table
{
width:60%;
height:80%;
margin:180px 120px;
border-collapse:collapse;
}

h1
{
font-size:0.7em;
}

.image img
{
height:35%;
width:75%;
padding:5px;
}

.item
{width:100px;}